{
  "endOfLine": "lf",
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.spec.js",
      "options": {
        "endOfLine": "lf",
        "semi": false,
        "tabWidth": 2,
        "singleQuote": true
      }
    }
  ]
}
